body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Kaushan Script', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 12;
}

.background {
    height: 850px;
    width: 100%;
    background-image: url("img/header-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* srodek-text */

.grandmas-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.text {
    font-size: 40px;
    color: white;
}

.grandma {
    font-size: 64px;
    color: deeppink;
}

.button {
    display: flex;
    justify-content: center;
    position: relative;
    color: black;
}

 /* navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 12;
    height: 70px;
}

.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:6;
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;
}

 /* logo */

.navbar-logo {
    margin-left: 20px;
    flex: 8;
}

 /* linki */

.navbar-links {
    flex: 11;
}

.text-link {
    font-size: 24px;
    margin: 8px;
}

a:link {
    color: deeppink;
    text-decoration: none;
}

 /* phone */

.navbar-phone {
    flex: 3;
}

 /* koszyk */

.navbar-cart {
    flex: 4;
}

.cart {
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px 12px 8px 12px;
}

.fa {
    margin-right: 10px;
    font-size: 20px !important;
}

/* dol */

.about-content {
    height: 70%;
    display: flex;
    align-items: center;
    flex: 12;
}

.about-left {
    flex: 6;
    padding-left: 20%;
    padding-right: 10%;
    color: gray;
}

.about-right {
    flex: 6;
    padding-right: 20%;
}

.text-about {
    font-size: 42px;
    color: black;
}

.text-us {
    margin-left: 10px;
    font-size: 64px;
    color: deeppink;
}

.text-all {
    margin-bottom: 50px;
}

#cake-img {
    width: 550px;
    margin-top: 25px;
    margin-left: 25px;
    position: relative;
}

.border {
    width: 550px;
    height: 400px;
    border: 5px solid #f9e494;
    position: absolute;
    z-index: 0;
}

.button1 {
    padding: 8px 12px 8px 12px;
    border: 1px solid black;
    border-radius: 3px;
}

/*footer*/

.footer {
    background-color: #EEEEEE;
    height: 400px;
}

.footer-text {
    display: flex;
    justify-content: center;
}

.footer-text1 {
    margin-top: 100px;
    font-size: 36px;
    color: black;
}

.footer-text2 {
    margin-top: 86px;
    margin-left: 5px;
    font-size: 50px;
    color: deeppink;
}

.footer-items {
    display: flex;
    justify-content: center;
}

.footer-item {
    border: 1px solid black;
    margin-left: 40px;
    padding: 10px;
}

.footer-input {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}